<app-hero></app-hero>
<div class="container mt-2 d-flex flex-wrap">
  <div class="me-2">
    <div class="tcon mt-2">
      <h2>Días del Viaje</h2>
    </div>

    <!-- Selector para elegir el día -->
    <div class="cLista">
      <div class="list-group">
        <div *ngFor="let dia of jsonDato | cityPipe: selectedCity | dayPipe:selectedDay"
        class="list-group-item list-group-item-action" [ngClass]="{active: dia.numero_dia === days}">
        <a class="list-group-item list-group-item-action"  routerLink="/day/{{ dia.numero_dia }}">
          Día {{ dia.numero_dia }}: {{ dia.ciudad }}
        </a>
        <button class="btn btn-delete mt-2" (click)="onClickDelete(dia)">Eliminar</button>
        </div>

        <form>
          <a routerLink="/addDestino" class="list-group-item list-group-item-action mt-2 btn-agregar">Agregar destino</a>
        </form>
      </div>
    </div>
</div>
<div class="bucador-container">
  <h2>Buscador</h2>
  <div class="filter-container">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="dayFilter" [(ngModel)]="selectedDay" name="day" placeholder="Buscar por día">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="cityFilter" [(ngModel)]="selectedCity" name="city" placeholder="Buscar por ciudad">
      </div>
    </form>
  </div>
</div>
