<div class="container mt-5">


  <!-- Selector para elegir el día -->
  <div m-2>
    <h1>Detalles del Viaje</h1>
    <div class="list-group">
      <a *ngFor="let dia of viajeData" (click)="updateDayFromList(dia.numero_dia)" class="list-group-item list-group-item-action" [ngClass]="{active: dia.numero_dia === days}">
        Día {{ dia.numero_dia }}: {{ dia.ciudad }}
      </a>
    </div>
  </div>


  <div *ngFor="let dia of viajeData">
    <div *ngIf="dia.numero_dia === days">
      <h2>Día {{ dia.numero_dia }}: {{ dia.ciudad }}</h2>
      <p>Alojamiento: {{ dia.alojamiento }}</p>
      <p>Descripción: {{ dia.descripcion }}</p>
      <p>Valoración: {{ dia.valoracion }}</p>

      <h3>Actividades:</h3>
      <ul>
        <li *ngFor="let actividad of dia.actividades">{{ actividad }}</li>
      </ul>

      <div *ngIf="dia.video_resumen">
        <h3>Video Resumen:</h3>
        <iframe width="560" height="315" [src]="dia.video_resumen" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
