.btn-primary {
  background-color: #ffd400;
  color: #000;
  border: none;
 }

 .container {
  min-height: 700px;
 }

 .dtitle {
  background-color: #ffd400;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 12px;
}

.dtitle h2 {
  font-family: 'Londrina Solid', sans-serif;
  color: beige;
  padding-top: 10px;
}

.body-detail {
  padding: 12px;
}

h3 {
  font-family: 'Londrina Solid', sans-serif;
  padding-top: 6px;
}

.btn-primary {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 100;
}

.ul {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 100;
}
