<!-- <div class="bcont">
  <a class="btn btn-primary" href="#" role="button" aria-current="page" routerLink="/"> X </a>
</div> -->
<app-hero></app-hero>
<div class="container mt-3">
  <div class="day-container mt-3 d-flex flex-wrap">

    <div class="me-5 mb-5">
      <div class="tcon">
        <h1>Días del Viaje</h1>
      </div>
      <!-- Selector para elegir el día -->
      <div class="cLista">
        <div class="list-group">
          <a *ngFor="let dia of jsonDato.viaje" routerLink="/day/{{ dia.numero_dia }}"
            class="list-group-item list-group-item-action" [ngClass]="{active: dia.numero_dia === dayNum}">
            Día {{ dia.numero_dia }}: {{ dia.ciudad }}
          </a>
          <a class="btn btn-primary2 mt-3" href="#" role="button" aria-current="page" routerLink="/"> <- Volver a Inicio</a>
        </div>
      </div>
    </div>

    <div *ngFor="let dia of jsonDato.viaje">
      <div *ngIf="dia.numero_dia === dayNum">
        <div class="dtitle">
          <h2>Día {{ dia.numero_dia }}: {{ dia.ciudad }}</h2>
        </div>
        <div class="body-detail">
          <h3><span style="font-weight: 400;">Alojamiento: </span> {{ dia.alojamiento }}</h3>
          <h3><span style="font-weight: 400;">Descripción: </span> {{ dia.descripcion }}</h3>
          <h3><span style="font-weight: 400;">Valoración: </span> {{ dia.valoracion }}</h3>
          <h3>Actividades:</h3>
          <ul>
            <li *ngFor="let actividad of dia.actividades">{{ actividad }}</li>
          </ul>
          <div *ngIf="dia.video_resumen">
            <h3>Video Resumen:</h3>
            <a [routerLink]="videoLink">
              <video width="320" height="240">
                <source [src]="dia.video_resumen" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </a>
          </div>
          <a class="btn btn-primary2" href="#" role="button" aria-current="page" routerLink="/"> <- Volver a Inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>