.btn-primary {
  background-color: #ffd400;
  color: #000;
  border: none;
 }

 .container {
  height: 100%;
 }

 .dtitle {
  background-color: #ffd400;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 12px;
}

.dtitle h2 {
  text-decoration: underline;
}

.body-detail {
  padding: 12px;
}

