<form (ngSubmit)="onSubmit()">
  <label for="numero_dia">Número de Día:</label>
  <input type="number" id="numero_dia" name="numero_dia"><br><br>

  <label for="ciudad">Ciudad:</label>
  <input type="text" id="ciudad" name="ciudad"><br><br>

  <label for="alojamiento">Alojamiento:</label>
  <input type="text" id="alojamiento" name="alojamiento"><br><br>

  <label for="actividades">Actividades:</label>
  <input type="text" id="actividades" name="actividades"><br><br>

  <label for="descripcion">Descripción:</label>
  <textarea id="descripcion" name="descripcion"></textarea><br><br>

  <label for="video_resumen">Video Resumen:</label>
  <input type="text" id="video_resumen" name="video_resumen"><br><br>

  <label for="valoracion">Valoración:</label>
  <input type="number" id="valoracion" name="valoracion"><br><br>

  <input type="submit" value="Crear">
</form>
