<app-hero></app-hero>
<div class="container mt-5">
  <h1>El proyecto</h1>
  <p><strong>Mi Viaje</strong> es un proyecto para la asignatura
    <strong>FP.067 Desarrollo front-end con frameworks en entornos
      móviles</strong>. Está realizado con Angular y estilizado con Bootstrap.
      Consiste en una web que muestra un diario de viaje con información sobre
      distintos días de un viaje.
  </p>
  <hr>
  <h1>El equipo</h1>
  <p><strong>Code067</strong> es un equipo de desarrolladores formado por:</p>
  <ul>
    <li>Jaume Fité Planes</li>
    <li>Leidi Quiceno Baltazar</li>
    <li>Giancarlo Spadolini Zucchiatti</li>
    <li>Xavier Matoses Meseguer</li>
  </ul>
  <hr>
</div>