<div class="form-title">
  <h2>Añade un dia de tu viaje</h2>
</div>
<form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="container form-container w-25">
        <input class="form-control" type="number" formControlName="numero_dia" placeholder="Numero de día" min="0">
        <input class="form-control" type="text" formControlName="ciudad" placeholder="Ciudad">
        <input class="form-control" type="text" formControlName="alojamiento" placeholder="Alojamiento">
        <textarea class="form-control" formControlName="actividades" placeholder="Actividades, separar por un salto de linea"></textarea>
        <input class="form-control" type="text" formControlName="descripcion" placeholder="Descripcion">
        <input class="form-control" type="text" formControlName="video_resumen" placeholder="Url del video">
        <input class="form-control" type="number" formControlName="valoracion" placeholder="Valoración" min="0" max="5">
        <input class="btn btn-info mt-2" type="submit" value="Agregar">
    </div>
</form>
