/* filter.component.css */
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Establecer el border radius a 6px para los cuadros de búsqueda */
input[type="text"] {
  border-radius: 6px;
  border: 2px;
  padding-left: 6px;
}

/* Cambiar la fuente a Roboto 200 */
input[type="text"] {
  font-family: 'Roboto', sans-serif; /* Asegúrate de que 'Roboto' esté disponible en tus fuentes */
  font-weight: 200;
  color: black;
}

.btn-primary2 {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 200;
  color: 000;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffd400;
}

.btn-primary2:hover {
  background-color: #e0bb01;
}


