/* filter.component.css */
.filter-container {
  min-width: 60%;
}

.form-group {
  margin-top: 4px;
  margin-bottom: 6px;
}
/* Establecer el border radius a 6px para los cuadros de búsqueda */
input[type="text"] {
  border-radius: 4px;
  border: 2px;
  padding-left: 6px;
}

/* Cambiar la fuente a Roboto 200 */
input[type="text"] {
  font-family: 'Roboto', sans-serif; /* Asegúrate de que 'Roboto' esté disponible en tus fuentes */
  font-weight: 200;
  color: black;
}

.btn-primary2 {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 200;
  color: 000;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffd400;
}

.btn-primary2:hover {
  background-color: #e0bb01;
}

.form-control:focus {
  border-color: #e0bb01; /* Cambiar el color del borde a rojo en enfoque */
  box-shadow: 0 0 10px #e0bb01; /* Cambiar el color de la sombra a rojo en enfoque */
}
h2 {
text-decoration: underline;
text-decoration-color: #ffd400 ;
}


