.btn-primary2 {
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 200;
    color: 000;
    font-size: 16px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #ffd400;
  }